@charset "utf-8";

/* CSS Document */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  --bg: #fef7f7;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaeaea;
}

a {
  text-decoration: none;
}

section {
  width: 100%;
  background-color: #eaeaea;
}

section h1 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  width: 100%;
}
.toggle {
  background-color: var(--bg);
  justify-content: end;
  padding: 0.5rem;
  display: none;
}
.toggle .line1,
.toggle .line2,
.toggle .line3 {
  background-color: darkblue;
  width: 1.5rem;
  height: 0.3rem;
  border-radius: 5px;
  margin: 0.2rem;
}
/*Header Styling*/

header {
  display: flex;
  align-items: center;
  background-color: var(--bg);
  width: 100%;
  padding: 0 2rem;
  min-height: 10vh;
  top: 0;
}

header ul {
  list-style: none;
  display: flex;
}

header img {
  width: 16rem;
  margin: 0 auto;
}

header > ul {
  padding-right: 3rem;
  font-size: 1.2em;
}

header > ul li {
  margin-right: 1rem;
}

nav a:active,
nav a:hover {
  color: rgb(29, 55, 223);
}

nav ul li {
  margin-right: 2rem;
  padding-bottom: 0.5rem;
}

nav ul li a {
  padding-bottom: 0.5rem;
}

nav ul li a:hover {
  border-bottom: #10218c solid 2px;
  transition: ease-in;
  transition-property: border;
  transition-duration: 0.3s;
}

nav ul li:nth-child(4) {
  padding-right: 0;
}

header button {
  padding: 0.7rem 0.5rem;
  font-weight: bold;
  background-color: #10218c;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
}

header button a {
  color: white;
  padding: 0.5rem 0.7rem;
}

header a {
  color: black;
}

nav ul {
  font-weight: 700;
}

@media (max-width: 1066px) {
  body {
    overflow-x: hidden;
  }
  header {
    flex-direction: column;
  }
  header img {
    width: 14rem;
    order: 0;
    margin-bottom: 0.5rem;
  }
  nav {
    width: 100%;
    order: 1;
  }
  nav ul {
    justify-content: space-around;
  }
  header > ul,
  header button {
    display: none;
  }
}

@media (max-width: 437px) {
  html {
    overflow-x: hidden;
  }
  /* body {
        
    } */
  header {
    padding: 0;
    position: absolute;
    top: 6vh;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .show {
    transform: translateX(0%);
  }

  .toggle img {
    width: 8rem;
    grid-row: 1/4;
    justify-self: center;
  }
  .toggle {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  .bars {
    grid-column: 2;
    cursor: pointer;
    grid-row: 1/4;
    align-self: center;
  }

  .toggle .line1 {
    align-self: end;
  }
  .toggle .line2 {
    align-self: center;
  }

  header img {
    display: none;
  }

  nav ul {
    display: block;
    text-align: center;
  }
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav ul li a {
    display: block;
    padding: 0.5rem;
  }

  nav ul li a:hover {
    /* padding-bottom: .5rem; */
    background-color: darkblue;
    color: white;
    border: 0;
  }
}

/*Main Section*/

main div {
  height: 100vh;
  background-image: url(../images/Samsung-Galaxy-S8-Test-9425.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

main h1 {
  padding: 19vmax 0 0 8vmax;
  color: white;
  font-size: 6vmin;
}

@media (max-width: 768px) {
  main h1 {
    padding: 7rem 0 0 5rem;
  }
}
@media (max-width: 437px) {
  main h1 {
    padding: 27rem 0 0 3.2rem;
  }
}

main button {
  padding: 0.75rem;
  background-color: white;
  color: #10218c;
  margin: 1rem 0 0 8vmax;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
}

main button a {
  color: #10218c;
  padding: 10px 15px;
}

/*//Form*/
.order {
  width: 100%;
  background-color: rgb(201, 213, 250);
  padding: 3em 0 0;
}

section h1 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.cognito {
  width: 50%;
  margin-left: 30%;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  color: black;
  grid-gap: 1rem;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.mine {
  border-radius: 5px;
  border: solid #ccc 1px;
  height: 3em;
  padding: 0.5rem;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px inset rgba(0, 0, 0, 0.3);
}

input::placeholder {
  color: rgb(179, 165, 172);
  font-style: italic;
}

button[type="submit"] {
  padding: 10px 10px;
  font-weight: bold;
  color: white;
  background-color: #10218c;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
  grid-column: 1 / span 2;
}

@media (max-width: 473px) {
  .grid {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-bottom: 1rem;
  }
}

/*OUR PRODUCTS*/

.whatwesell {
  padding: 3rem 0;
}
#services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  margin: 0 5rem;
  padding-bottom: 2rem;
  grid-gap: 1rem;
}
@media(max-width: 1298px) {
  .product:last-child {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media(max-width: 473px) {
  #services {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .product img {
    width: 100%;
    object-fit: contain;
  }
  .product_text {
    padding: 1rem;
  }
}

.product {
  text-align: center;
  overflow: hidden;
}

.product_text {
  padding-top: 1rem;
}



/*ABOUT US*/
#about {
  display: grid;
  grid-template-columns: repeat(3, minmax(360px, 1fr));
  text-align: center;
  background-color: white;
}

@media (max-width: 846px) {
  #about {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    overflow: hidden;
  }
}
#about > div ~ div {
  min-width: 360px;
}
#about-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #465468;
  place-items: center;
}

#about-left h1 {
  color: #8995b1;
  font-size: 80px;
  font-weight: 700;
}
#about-left p {
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
  margin-top: -2em;
}

#about-left div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#about-left div:first-child {
  border-right: 1px solid #8995b1;
  border-bottom: 1px solid #8995b1;
}

#about-left div:nth-child(2) {
  border-bottom: 1px solid #8995b1;
}

#about-left div:nth-child(3) {
  border-right: 1px solid #8995b1;
}

#about ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

#about ul li {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(196, 196, 196);
  transition: 250ms;
  cursor: pointer;
}

#about-center ul li:hover,
#about-center ul li.active {
  color: black;
  cursor: pointer;
}
.active {
  color: black;
  cursor: pointer;
}
#container {
  position: relative;
}

#container p {
  position: absolute;
  width: 100%;
  text-align: center;
}

.zero {
  opacity: 0;
}

#about ul,
#about p,
#about button {
  margin-bottom: 2em;
}

#about-center p {
  font-size: 2rem;
}

#about button {
  padding: 0.8rem 0.8rem;
  font-weight: bold;
  color: white;
  background-color: #10218c;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 6rem;
}

#about-center h1 {
  margin: 1em 0 1em 0;
}

#about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#testimonials {
  padding: 4em;
  background: #0d0d0dcc;
  width: 100%;
  color: white;
  text-align: center;
}

#testimonials h1 {
  margin-bottom: 3rem;
}

.testimonies {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.testimony {
  width: 25%;
}
@media (max-width: 740px) {
  .testimonies {
    flex-direction: column;
  }
  .testimony {
    width: 100%;
    margin-bottom: 3rem;
  }
  .testimony h1 {
    font-size: 2.5rem;
  }
}

.testimony img {
  border-radius: 50%;
  margin-bottom: 1rem;
}
/*BLOG SECTION*/

.blog-section {
  padding: 3rem 0;
}
.blog,
.blog-short {
  display: flex;
}

.blog {
  flex-flow: row wrap;
  justify-content: center;
}
@media (max-width: 1448px) {
  .blog {
    align-items: center;
  }
  /* .blog-half {
        max-width: 500px;
    } */
}

.blog img {
  width: 100%;
  height: auto;
}

.blog-half {
  text-align: center;
  max-width: 700px;
  width: 50%;
}

.blog-short p,
.blog-short h2 {
  text-align: left;
}

.blog-short {
  padding: 1em 3em;
}
@media (max-width: 473px) {
  .blog {
    flex-direction: column;
  }
  .blog-half {
    width: 100%
  }
  .blog-short {
    padding: 0.5rem;
    line-height: normal;
    flex-wrap: wrap;
  }
  #tesimonials h1 {
    font-size: 2rem;
  }
}

.blog-short p {
  color: grey;
  line-height: 1.5em;
  padding-top: 1.2em;
}

.short-left {
  margin-right: 2em;
}

.blog-short p {
  margin-top: 0.5em;
}

h4 {
  margin-top: -1.5em;
  color: #009edb;
}

h2 {
  line-height: 1em;
}

.short-left h1 {
  color: #23259c;
}

@media (max-width: 360px) {
  .blog {
    flex-direction: column;
  }
  .blog-half {
    width: 100%;
    justify-content: center;
  }
  .blog-short {
    justify-content: center;
    align-items: center;
  }
  .short-left,
  .shoirt-right,
  .blog-short div:last-child h2,
  .blog-short div:last-child p {
    text-align: center;
  }
}
#map {
  width: 100%;
  height: 400px;
  background: rgb(180, 174, 174);
}
/******************************* FOOTER ********************/

footer {
  color: #e9eaea;
  background-color: #363d41;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 3rem 0;
}

footer h2 {
  margin-bottom: 1rem;
}

@media (max-width: 473px) {
  footer {
    display: grid;
    grid-column: 1fr;
    grid-gap: 2rem;
  }

  footer h2 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-bottom: 1em;
  }
}
@media (max-width: 473px) {
  footer h2 {
    margin-bottom: 0.5rem;
  }
  #about-center h1 {
    font-size: 2rem;
  }
  #services {
    padding: 0;
  }
  #about > div ~ div {
    min-width: 100%;
  }
  #about-center ul {
    flex-direction: column;
  }

  footer {
    text-align: center;
  }
  #testimonials h1 {
    font-size: 2rem;
  }
}

footer ul {
  list-style: none;
  font-size: 12px;
}
.quick::before {
  font-family: FontAwesome;
  content: "\f0a9";
  margin-right: 5px;
}
footer li {
  margin-bottom: 0.3rem;
  font-size: 14px;
}
.line {
  border-top: 1px solid #797979;
  margin: 30px 0 0 20px;
  width: 90%;
}
.copy {
  flex-direction: column;
  color: rgb(117, 117, 117);
  text-align: center;
  background: transparent;
  font-size: 12px;
  margin-top: 20px;
  height: 2vh;
}
